@(list: List[LiweiX], group: String, category: String)
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta cahrset="utf-8"/>
    <meta http-equiv="'X-UA-Compatible" content="'IE=edge"/>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <meta name="description" content="Callliwei 立委咖電喂 蒐集詳盡的立法委員連絡資料，希望做出連長輩都能在網路上輕鬆搜尋的立委連絡資料表，如同一本簡單的電話簿，有任何意見都能及時參與表達。"/>
    <meta name="keywords" content="Callliwei,立委咖電喂,legislator,legislature,g0v,Formosa,Taiwan"/>
    <meta name="author" content="LeonLin"/>
    <meta property="og:url" content="callliwei.hopto.org"/>
    <meta property="og:type" content="web,data"/>
    <meta property="og:title" content="Callliwei 立委咖電喂"/>
    <meta property="og:description" content="Callliwei 立委咖電喂 蒐集詳盡的立法委員連絡資料，希望做出連長輩都能在網路上輕鬆搜尋的立委連絡資料表，如同一本簡單的電話簿，有任何意見都能及時參與表達。"/>

    <title>Callliwei 立委咖電喂 - list @if(group!=null){@group/}@if(category!=null){@category}</title>
    <link href=assets/images/favicon.png rel=icon>
    <link ref="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="/assets/css/docs.min.css" rel="stylesheet">
    <style type="text/css">
        li.clw-listitem{  font-size:120%;  }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="/assets/js/qa.js"></script>
    <script>
    </script>
</head>


<body data-twttr-rendered="true" class="bs-docs-home">
<a class="sr-only sr-only -focusable" href="#content">goto #content</a>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse"><span class="sr-only">巡覽切換</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a href="/" class="navbar-brand">Callliwei</a></div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form" role="search" action="/list">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
                <li><a href="/list">全部列表</a></li>
                <li><a href="/category/district">區域分類</a></li>
                <li><a href="/category/profession">專長分類</a></li>
                <li><a href="/category/party">黨派分類</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<main id="content" role="main">
    <div class="container">
        <ul>
            @list.map{item=>
            <li class="clw-listitem">
                <a class="clw-listitem" href="/profile/@item.name">@item.name</a>
                <a class="clw-listitem" href="tel:@item.labtel">@item.labtel</a>
                <a class="clw-listitem" href="mailto:@item.email">@item.email</a>
                <a class="clw-listitem" href="http://line.me/ti/p/@item.lineid">@item.lineid</a>
                @if(item.lineid2!=""){
                <a class="clw-listitem" href="http://line.me/ti/p/@item.lineid2">@item.lineid2</a>
                }
            </li>
            }
        </ul>
    </div>
</main>

<footer class="bs-docs-footer">
    <div class="container">
        <ul class="bs-docs-footer-links">
            <li><a href="https://github.com/zhengda/callliwei">GitHub</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <p>Licensed <a href="https://creativecommons.org/licenses/by/4.0" target="_blank" rel="license">CC BY 4.0</a>.
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery||document.write('<script src="/assets/js/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>